*.xlsx filter=lfs diff=lfs merge=lfs -text
*.xls filter=lfs diff=lfs merge=lfs -text
us/concat/output/arrests.csv.gz filter=lfs diff=lfs merge=lfs -text
arrests.csv.gz filter=lfs diff=lfs merge=lfs -text
encounters.csv.gz filter=lfs diff=lfs merge=lfs -text
removals.csv.gz filter=lfs diff=lfs merge=lfs -text
